.container {
    background-color: #e5e5e5;
    border: 5px solid#1D1E4C;
    margin-left: 500px;
    margin-right: 350px;
    padding-bottom: 20px;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1D1E4C;
    text-transform: uppercase;
}

.top_section h4 {
    font-size: 30px;
    text-align: end;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container,
img {
    width: 300px;
    height: 320px;
}

.about_section {
    margin-top: 10px;
}

.about_section h2 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

.biography h3 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.biography ul {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
}

footer {
    margin: 20px;
}

footer p {
    text-align: end;
}